.Navbar {
  border-bottom: 5px solid #444;
}

.user {
  font-size: 2.5rem;
  width: 6rem;
  text-shadow: 0 1px #ddd;
  cursor: pointer;
  margin: 0.5em 0 0.5em 0;
  position: relative;
  text-align: top;
  color: black;
}
