<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>singapore</title>
    <link
      href="https://playground.anychart.com/geodata/countries/Singapore/iframe"
      rel="canonical"
    />
    <meta
      content="Choropleth Map,Geo Chart,Geo Visualization"
      name="keywords"
    />
    <meta
      content="AnyChart - JavaScript Charts designed to be embedded and integrated"
      name="description"
    />
    <link rel="stylesheet" href="../../App.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <di class="large text-primary" style>Visualization</div><br>
    <link
      href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      html,
      body,
      #container {
        width: 75%;
        height: 85%;
        margin: auto;
        padding: 10px;
        
      }
    </style>
  </head>
  <body>
    <div id="container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/geodata/2.1.0/countries/singapore/singapore.js"></script>
    <script type="text/javascript">
      anychart.onDocumentReady(function () {
        // create map
        var map = anychart.map();

        // create data set
        var dataSet = anychart.data.set([
          { id: "0", value: 180000 },
          { id: "SG.SW", value: 380000 },
          { id: "SG.JI", value: 410000 },
          { id: "SG.CS", value: 1240000 },
          { id: "SG.NW", value: 1030000 },
          { id: "SG.NE", value: 470000 },
          { id: "SG.SE", value: 487000 },
        ]);

        // create choropleth series
        series = map.choropleth(dataSet);

        // set geoIdField to 'id', this field contains in geo data meta properties
        series.geoIdField("id");

        // set map color settings
        series.colorScale(anychart.scales.linearColor("#deebf7", "#3182bd"));
        series.hovered().fill("#addd8e");

        // set geo data, you can find this map in our geo maps collection
        // https://cdn.anychart.com/#maps-collection
        map.geoData(anychart.maps["singapore"]);

        //set map container id (div)
        map.container("container");

        //initiate map drawing
        map.draw();
      });
    </script>
  </body>
</html>
